.ipynb_checkpoints/
git rm --cached *.xlsx
git rm --cached *.xls
git rm --cached *.xlsm
*.xlsx
*.xls
*.xlsm

# Python artifacts
__pycache__/
*.py[cod]
*.so

# Jupyter checkpoints
.ipynb_checkpoints/

# Logs and temp
*.log
*.tmp
*.bak
*.swp
# Pytest and tox
.tox/
.pytest_cache/

# Coverage reports (optional)
# Uncomment if you want to ignore them
# coverage/
# *.lcov
#
# Conda/venv
.venv/
env/
venv/

*.xlsx
*.xls
*.xlsm
~$*

!important_template.xlsx

# macOS & Windows
.DS_Store
Thumbs.db

# VS Code & JetBrains
.vscode/
.idea/
*.code-workspace
*.iml

.env
*.key
*.pem
*.crt
*.db

!.env.template
!config.sample.json
JL_z_files/zzjunkxl_xf_xl.ipynb
JL_z_files/zfilename.py.save
JL_z_files/zmain.py
JL_z_files/znano_cheat_sheat.txt
JL_z_files/zInput_function_sandbox-Copy1.ipynb
JL_z_files/zUntitled.ipynb
JL_z_files/zUntitled2.ipynb
JL_z_files/zOLD_xl_xf_xl_pf.ipynb
JL_z_files/zUntitled1.ipynb
JL_z_files/z_shared_data.py
JL_z_files/z_shared_data.py
JL_z_files/z_smart_button.py
JL_z_files/z_xl_xf_xl_py2.ipynb
JL_z_files/z_zm_UTI_med_analysis.ipynb
